<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>
Florian Kubiak

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries for Data Science</li>
    <li>List Data Science Tools</li>
    <li>Show examples of arithmetic operations</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Julia</li>
    <li>Python</li>
    <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Matplotlib</li>
    <li>Numpy</li>
    <li>Pandas</li>
</ol>

<table>
  <tr>
      <th>Data Science Tools</th>
    </tr>
  <tr><td>KNIME
      </td></tr>
      <tr><td>Hadoop
          </td></tr>
      <td>Apache Spark
    </td>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335